.section-title {
    background-color: #0b0290d0;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Georgia', serif;
    opacity: 0;
    transform: translateY(20px);
    animation: slideInUp 1s forwards;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.section-title:hover {
    background-color: #4bd8ea; /* Cor de fundo tomate */
    color: #0b0707; /* Cor do texto branco */
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 999;
}
#btn-topo:hover {
    background-color: rgba(0, 34, 36, 0.44);
}
#btn-topo i {
    color: white;
    font-size: 20px;
    transform: rotate(-90deg);
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(250, 247, 247, 0.96);
    transition: transform 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}
.profile-img:hover {
    transform: scale(1.20); 
    box-shadow: 0 0 20px rgba(250, 247, 247, 0.96); 
    border: 5px solid rgba(198, 187, 214, 0); 
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #f50a0a10;
    padding: 5px;
}
.section-title {
    background-color: #0b029000;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Georgia', serif;
    transition: transform 0.3s ease;
}
.section-title:hover {
    transform: scale(1.03); /
}
nav a {
    color: rgb(238, 8, 8);
    text-decoration: none;
    padding: 10px;
    opacity: 0;
    animation: slideIn 1s forwards;
    transition: color 0.3s ease, transform 0.3s ease;
}

nav a:nth-child(1) {
    animation-delay: 0.2s;}

nav a:nth-child(2) {
    animation-delay: 0.4s;
}
nav a:nth-child(3) {
    animation-delay: 0.6s;
}
nav a:nth-child(4) {
    animation-delay: 0.8s;
}
nav a:hover {
    color: #47ff47;
    transform: scale(1.1);
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
    }
  to {
    transform: translateX(0);
    opacity: 1;
    }
}
